In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\dell\\OneDrive\\Desktop\\train.csv")
df

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [3]:
df.drop(columns = ['id'],inplace =True)

In [4]:
df.isnull().sum()

title      558
author    1957
text        39
label        0
dtype: int64

In [5]:
df.duplicated().sum()

109

In [6]:
df = df.drop_duplicates(keep ='first')

#EDA

In [7]:
df['label'].value_counts()

label
0    10387
1    10304
Name: count, dtype: int64

In [8]:
X = df.drop(columns=['label', 'text'])

In [9]:
X

,title,author
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn
2,Why the Truth Might Get You Fired,Consortiumnews.com
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy
...,...,...
20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson
20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman
20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams
20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary
20799,What Keeps the F-35 Alive,David Swanson

In [10]:
X['content'] = df['author']+' '+ df['title']

In [11]:
y = df.iloc[ : ,3:]

In [12]:

X.drop(columns = ['title','author'])

                                                 content
0      Darrell Lucus House Dem Aide: We Didn’t Even S...
1      Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2      Consortiumnews.com Why the Truth Might Get You...
3      Jessica Purkiss 15 Civilians Killed In Single ...
4      Howard Portnoy Iranian woman jailed for fictio...
...                                                  ...
20795  Jerome Hudson Rapper T.I.: Trump a ’Poster Chi...
20796  Benjamin Hoffman N.F.L. Playoffs: Schedule, Ma...
20797  Michael J. de la Merced and Rachel Abrams Macy...
20798  Alex Ansary NATO, Russia To Hold Parallel Exer...
20799            David Swanson What Keeps the F-35 Alive

[20691 rows x 1 columns]

In [13]:
import nltk

In [14]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dell\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [15]:
X['content_length'] = X['content'].apply(lambda x: len(x) if isinstance(x, str) else None)

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20691 entries, 0 to 20799
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           20173 non-null  object
 1   author          18759 non-null  object
 2   content         18241 non-null  object
 3   content_length  18241 non-null  float64
dtypes: float64(1), object(3)
memory usage: 808.2+ KB

In [17]:

from nltk.tokenize import word_tokenize

X['word_count'] = X['content'].apply(lambda x: len(word_tokenize(x)) if isinstance(x, str) else 0)

In [18]:
from nltk.tokenize import sent_tokenize
X['sent_count'] = X['content'].apply(lambda x: len(sent_tokenize(x)) if isinstance(x, str) else 0)

In [19]:
X.drop(columns = ['title','author'],inplace = True)

In [20]:
X

,content,content_length,word_count,sent_count
0,Darrell Lucus House Dem Aide: We Didn’t Even S...,95.0,21,1
1,"Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...",71.0,14,1
2,Consortiumnews.com Why the Truth Might Get You...,52.0,8,1
3,Jessica Purkiss 15 Civilians Killed In Single ...,79.0,12,1
4,Howard Portnoy Iranian woman jailed for fictio...,108.0,16,1
...,...,...,...,...
20795,Jerome Hudson Rapper T.I.: Trump a ’Poster Chi...,69.0,15,2
20796,"Benjamin Hoffman N.F.L. Playoffs: Schedule, Ma...",82.0,16,2
20797,Michael J. de la Merced and Rachel Abrams Macy...,122.0,27,1
20798,"Alex Ansary NATO, Russia To Hold Parallel Exer...",62.0,11,1
20799,David Swanson What Keeps the F-35 Alive,39.0,7,1

In [21]:
X.describe()

       content_length    word_count    sent_count
count    18241.000000  20691.000000  20691.000000
mean        91.239625     14.830506      0.978783
std         26.547361      7.469430      0.503429
min         12.000000      0.000000      0.000000
25%         75.000000     11.000000      1.000000
50%         92.000000     16.000000      1.000000
75%        106.000000     20.000000      1.000000
max        489.000000     85.000000      7.000000

In [22]:
X.shape

(20691, 4)

In [23]:
X.isnull().sum()

content           2450
content_length    2450
word_count           0
sent_count           0
dtype: int64

In [24]:
X['labels'] = df['label']
X

,content,content_length,word_count,sent_count,labels
0,Darrell Lucus House Dem Aide: We Didn’t Even S...,95.0,21,1,1
1,"Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...",71.0,14,1,0
2,Consortiumnews.com Why the Truth Might Get You...,52.0,8,1,1
3,Jessica Purkiss 15 Civilians Killed In Single ...,79.0,12,1,1
4,Howard Portnoy Iranian woman jailed for fictio...,108.0,16,1,1
...,...,...,...,...,...
20795,Jerome Hudson Rapper T.I.: Trump a ’Poster Chi...,69.0,15,2,0
20796,"Benjamin Hoffman N.F.L. Playoffs: Schedule, Ma...",82.0,16,2,0
20797,Michael J. de la Merced and Rachel Abrams Macy...,122.0,27,1,0
20798,"Alex Ansary NATO, Russia To Hold Parallel Exer...",62.0,11,1,1
20799,David Swanson What Keeps the F-35 Alive,39.0,7,1,1

In [25]:
X[X['labels'] == 0][['content_length','word_count','sent_count']].describe()

       content_length    word_count    sent_count
count    10361.000000  10387.000000  10387.000000
mean        97.360486     18.265043      1.113989
std         18.729765      4.197481      0.399431
min         36.000000      0.000000      0.000000
25%         85.000000     16.000000      1.000000
50%         97.000000     18.000000      1.000000
75%        109.000000     21.000000      1.000000
max        197.000000     37.000000      5.000000

In [26]:
X[X['labels'] == 1][['content_length','word_count','sent_count']].describe()

       content_length    word_count    sent_count
count     7880.000000  10304.000000  10304.000000
mean        83.191624     11.368304      0.842488
std         32.499564      8.390390      0.557772
min         12.000000      0.000000      0.000000
25%         63.000000      5.000000      1.000000
50%         81.000000     12.000000      1.000000
75%         99.000000     17.000000      1.000000
max        489.000000     85.000000      7.000000